
main {
    height: calc(100vh - 78.5px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camara {
    display: inline-block;
    position: relative;
}

.canvas{
    background-color: #aaa;
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;
}

.actions{
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.actions a{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
}

.actions img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #555;
}

.stickers{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
    border-radius: 8px;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.sticker{
    width: 50px;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
}

.snap {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: rgba(200, 200, 200, 0.5);
    position: absolute;
    bottom: 40px;
    left: calc(50% - 40px);
    cursor: pointer;
}

.video {display: none;}
.download-link{display: none;}

@media (max-width: 540px){
    .canvas{width: 300px;}
    .actions a{width: 30px;height: 30px;}
    .actions img{width: 30px;height: 30px;}
    .stickers{padding-top: 10px;}
    .sticker{width: 50px;margin: 8px;}
    .snap{width: 40px;height: 40px;border: 2px solid #fff;left: calc(50% - 20px);}
}

@media (max-width: 330px){
    .canvas{width: 240px;}
    .sticker{width: 40px;margin: 5px;}
    .snap{width: 30px;height: 30px;border: 2px solid #fff;left: calc(50% - 15px);}
}
